<script type="text/javascript">
$(document).ready(function(){
     $("#myCarousel").carousel();
});
</script>

<div class="container">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   

        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <% @projects.each do |project| %>
              <div class="item" id="<%= project.id %>">

                <img src="<%= project.picture_url %>" alt="<%= project.title %>">
                <div class="container">
                  <div class="carousel-caption">
                    <h1><%= project.title %></h1>
                    <p><%= project.description %> </p>

                    <p><a class="btn btn-lg btn-primary hvr-grow big-btn" href="<%= project_path(project.id) %>" role="button">Помочь</a></p>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
        
        <% if @projects.first %> 
        <script type="text/javascript">
          $('#<%=@projects.first.id%>').addClass('active');
        </script>
        <% end %>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="180" height="180">
          <h2>Кому помочь</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-info hvr-push" href="/projects" role="button">Подробней &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="180" height="180">
          <h2>Как помочь</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <p><a class="btn btn-info hvr-push" href="#" role="button">Подробней &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="180" height="180">
          <h2>Как получить помощь</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-info hvr-push" href="#" role="button">Подробней &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
<!-- Table -->
<div class="row">
  <h1 > Последние зачисления</h1>
  <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>ФИО</th>
      <th>Сумма</th>
      <th>Проект</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
        <tr>
            <th scope="row"><%= order.id %></th>
            <td><%= order.fullname %></td>
            <td><%= order.amount %>&nbsp;₴</td>
            <td ><%= link_to Project.find(order.project_id).title, Project.find(order.project_id)%></td>
          </tr>
    <% end %>
  
  </tbody>
</table>
</div>

