  <% if can? :create, News %>
    <%= link_to "Создать новость", new_news_path, class: 'btn btn-primary' %>
  <% end %>
<h1 class="title" align="center"> Последние новости </h3>

  <% @news.each do |news|%>
      <div class="row">


        <p>
          <%= image_tag news.image_url, width: 300, height: 200, class: 'leftimg' %>
          <%= link_to news.title, news, class: 'btn btn-lg' %> </br>

            <span class="text-muted"> <%= news.created_at %> </span></br>
          <%= strip_tags news.content.truncate(1000) %>
          <%= link_to 'Подробней...', news, class: 'pull-right btn btn-lg' %>
        </p>
      </br>
      </div>

  <% end %>

