<div class="span10">
  <h1> <%= @news.title %> </h1>
  <%= image_tag @news.image_url, size: '650x450', class: 'leftimg news_img' %>

  <p> <%= @news.content.html_safe %></p>
    <p class="text-muted"> <%= @news.created_at %></p>

  <% if can? :destroy, News %>
</br> <%= link_to 'Удалить', @news, :confirm => 'Are you sure?',
          :method => :delete %>
  <% end %>
</div>