<!DOCTYPE html>
<html>
<head>
  <title>DobraSprava</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>




<div class="wrapper container">
	<header>
    
	<div class="example2">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hvr-shrink" href="<%= root_path %>"><img src="<%= image_path 'logo.png' %>" alt="На главную">
        </a>
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="hvr-underline-from-center"><a href="/projects">Проекты</a></li>
          <li class="hvr-underline-from-center"><a href="/news">Новости</a></li>
          <li class="hvr-underline-from-center"><a href="/reports">Отчеты</a></li>
          <li class="hvr-underline-from-center"><a href="/about">О фонде</a></li>
          <li class="dropdown ">
          
          <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Редактировать профиль", edit_user_registration_path%></li>
              <li><%= link_to "Выйти", destroy_user_session_path, :method=>'delete' %></li>
            </ul>
           <% else %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Войти <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Войти', new_user_session_path %></li>
              <li><%= link_to 'Регистрация', new_user_registration_path %></li>
            </ul>
          <% end %>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>



	</header><!-- header role="banner" -->
				
</div>

    <div class='container content'>
			<%= yield %>
			</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-8 twitter">
				<div class="col-md-8 twitter">
	<h3>(c) Добра справа</h3>
	
	<p>
In ultricies pellentesque massa a porta. Aliquam ipsum enim, hendrerit ut porta nec, ullamcorper et nulla. In eget mi dui, sit amet scelerisque nunc. Aenean aug
	</p>
</div>
			</div>
			<div class="col-md-4 sitemap">
				<h3>Sitemap</h3>
	<div class="row">
		<div class="col-md-12">
			<a href="/home/">Проеты</a>
			<a href="/about/">О Фонде</a>
			<a href="/services/">Обратная связь</a>
		</div>
		
	</div>
			</div>
			
			<div class="col-md-6 footer-logo"></div>
		</div>
	</div>
</footer>


</body>
</html>
